{% extends 'base.html.twig' %}

{% block title %}{{ figure.title }} - SnowTrick{% endblock %}

{% block content %}

    <div class="row">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for image in figure.images %}
            <div>
                <img src="{{ asset('/assets/uploads/'~image.name) }}" alt="Image" class="img-fluid">
            </div>
        {% endfor %}

    </div>
    <div class="row">
        {% for video in figure.videos %}
            <div class="card col-xl-4 col-md-6">
                <div class="card-body">
                    <iframe class="w-100" width="560" height="315" src="{{video.url}}" allow="autoplay" allowfullscreen></iframe>

                    <a href="{{ path("deleteVid", {"id" : video.id}) }}" class="btn btn-danger" style="position: absolute;top:0;right: 0;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>


    <hr>

    <p>{{ figure.category }}</p>

    <div class="container">

        <h1>{{ figure.title }}</h1>
    </div>

    <div class="row">
        <p>{{ figure.description }}</p> <br/>

    </div>

    <hr>

    <div class="container">
        <p>
            <a href="{{ path('figures_index') }}">back to list</a>
        <p> <a href="{{ path('edit', {'slug': figure.slug}) }}">edit</a>

            {{ include('figures/_delete_form.html.twig') }}
        </p>

    </div>


    <div class="row tchat-section">
        {% if app.user %}
        {% include "home/form.html.twig" %}

        {% else %}
            <h3>Vous ne pouvez pas commenter si vous n'êtes pas connecté. </h3>
            <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>

        {% endif %}

        {% include "home/comments.html.twig" %}
    </div>





{% endblock %}


