{% extends 'base.html.twig' %}

{% block title %}Nos Figures - SnowTrick{% endblock %}



{% block content %}

    <div class="row">
        {% for figure in figures %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem">
                <div class="card-header text-center">
                    <img src="{{ asset( figure.image )  }}" class="perso_imgAliment card-img-top">
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center pb-2 mx-3 border-bottom border-primary">{{ figure.title }}</h3>
                    <p class="card-text">
                        <h4 class="text-center">{{ figure.description }}</h4>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <a class="btn btn-success" href="{{ path('figure_creation') }}">Ajouter</a>
    <table class="table">
        <tr class="table-primary">
            <td>image</td>
            <td>title</td>
            <td>slug</td>
            <td>description</td>

        </tr>
        {% for figure in figures %}
            <tr>
                <td><img src="{{ asset(figure.image) }}" class="perso_imgFigure"></td>
                <td><strong>{{ figure.title }}</strong></td>
                <td>{{ figure.slug }}</td>
                <td>{{ figure.description }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('figure_modification', {'id' : figure.id}) }}">Modifier</a>
                    <a class="btn btn-danger" href="">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
