{{ form_start(form) }}
    {{ form_widget(form) }}

    {# verifier si la route est "figures_edit" on affiche les images #}

     {% if app.request.attributes.get('_route') == 'figures_edit' %}
         <h2>Images</h2>
         {% for image in figure.images %}
             <div>
                 <img src="{{ asset('/assets/uploads/'~image.name) }}" alt="Image" width="150">
                 <a href="{{ path('figures_delete_image', {'id' : image.id}) }}"
                    data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"> Supprimer </a>
             </div>
         {% endfor %}

     {% endif %}


<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}