{% extends 'base.html.twig' %}

{% block title %}Figures index{% endblock %}

{% block content %}
    <h1>Figures index</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Title</th>
            <th>Slug</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for figure in figures %}
            <tr>
                <td>{{ figure.id }}</td>

                <td>
                    {% for image in figure.images %}
                        <div>
                            <img src="{{ asset('/assets/uploads/'~image.name) }}" alt="Image" width="150">
                        </div>
                    {% endfor %}
                </td>

                <td>{{ figure.title }}</td>
                <td>{{ figure.slug }}</td>
                <td>{{ figure.description }}</td>
                <td>
                    <a href="{{ path('show', {'slug': figure.slug}) }}">show</a>
                    <a href="{{ path('edit', {'slug': figure.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('new') }}">Create new</a>
{% endblock %}
