{% extends 'base.html.twig' %}

{% block title %}{{ figure.title }} - SnowTrick{% endblock %}

{% block content %}



    <div class="row">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for image in figure.images %}
            <div>
                <img src="{{ asset('/assets/uploads/'~image.name) }}" alt="Image" class="img-fluid">
            </div>
        {% endfor %}
    </div>
    <hr>

    <p>{{ figure.category }}</p>

    <div class="container">

        <h1>{{ figure.title }}</h1>
    </div>

        <div class="row">
        <p>{{ figure.description }}</p> <br/>

    </div>

    <hr>

    <div class="container">
        <p>
            <a href="{{ path('figures_index') }}">back to list</a>
           <p> <a href="{{ path('figures_edit', {'id': figure.id}) }}">edit</a>

        </p>

    </div>


    <div class="row tchat-section">
        {% include "comment/form.html.twig" %}
        {% include "comment/comments.html.twig" %}
    </div>





{% endblock %}
