<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SnowTrick">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}snowTrick{% endblock %}</title>
    <h1>{% block monTitre %}  {% endblock %}</h1>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/snowtrick.css') }}">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">SnowTrick</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('figures_index') }}">Figures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('new') }}">Création de Figure</a>
                </li>
            </ul>

            <div class="navbar-item-custom">

                {% if app.user %}
                    <a href="{{ path('account')}}">Mon compte <small>({{ app.user.firstname}})</small></a> | <a href="{{ path('app_logout')}}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login')}}">Connexion</a> | <a href="{{ path('app_register')}}">Inscription</a>
                {% endif %}

            </div>
        </div>
    </nav>
</header>

<main role="main">
    {% if block('carousel') is defined %}
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

            </ol>

            <div class="carousel-inner">
                {% for header in headers %}
                    <div class="carousel-item active" style="background: url('/uploads/{{ header.illustration}}'); background-size: cover">
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <h1>{{ header.title }}</h1>
                                <p>{{ header.content }}</p>
                                <p><a class="btn btn-lg btn-info" href="{{header.btnUrl}}" role="button">{{header.btnTitle}}</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>
    {% endif %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <main class="container marketing {% if block('carousel') is not defined  %}mt-5{% endif %}" role="main">




        {% block content %}

        {% endblock %}

    </main><!-- /.container -->

    <!-- FOOTER -->
    <footer id="footer" class="footer-custom">

        <p>SnowTrick </br>
            Copyright 2021 - Site réalisé par Ben tama Serroukh Mohamed </br>
            Projet 6 - Parcours Développeur d"application PHP-SYMFONY </br>
            &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWlvI9IOYy5n3V9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

{% block javascripts %} {% endblock %}

</body>
</html>